<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Web</title>
    <!-- Подключаем metro ui -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">

</head>
<body>
    <center>
        <div class="pos-absolute w-100 h-100">
            <iframe src="../find" class="w-100 h-75">your browser doesn't support iFrames =(</iframe>
            <form method="GET">
                <div class="form-group">
                    <button class="button success">find all</button>
                </div>
            </form>
        </div>
    </center>
    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>
</html>
