<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Web</title>
    <!-- Подключаем metro ui -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">

</head>
<body>
<form action="../update" method="GET" data-role="validator">
    <div class="form-group">
        <label>book id</label>
        <input type="text" name="id" data-validate="required minlength=1" />
        <span class="invalid_feedback">
            Input correct id with min length 1 symbols
        </span>
    </div>
    <div class="form-group">
        <label>new name</label>
        <input type="text" name="name" data-validate="required minlength=1" />
        <span class="invalid_feedback">
            Input correct name with min length 1 symbols
        </span>
    </div>
    <div class="form-group">
        <button class="button success">update</button>
    </div>
</form>
<script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>
</html>