<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Web</title>

    <!-- Подключаем metro ui -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <!-- Подключаем axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>
<body>
    <center>
        <div id="books">
            <table-component></table-component>
        </div>
        <button class="button success" onclick="window.location.reload(true)">find all</button>
    </center>
    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
    <script src="/table"></script>
    <script>
        axios.get("/api/find")
        .then((response) => {
            viewListBook(response.data);
        });
    </script>
</body>
</html>
